.gallery {
    border: 1px solid #d6cccc;
    border-radius: 4px;
    margin: 8px;
    transition: transform 0.2s;
}  
.gallery:hover {
    border: 1px solid #a39e9e;
    border-radius: 4px;
    box-shadow: #888282;
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02);
}  
.gallery img {
    width: 100%;
    height: suto;
} 
.desc p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #000;
    font-weight: 700;
}
* {
    box-sizing: border-box;
}  
.responsive {
    float: left;
    width: 25%;
}  
@media only screen and (max-width: 700px) {
    .responsive {
        width: 50%;
    }
}
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
} 